# Frontend
VITE_API_BASE_URL=
VITE_COGNITO_REGION=
VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_USER_POOL_CLIENT_ID=
VITE_COGNITO_REDIRECT_URI=
VITE_COGNITO_LOGOUT_REDIRECT_URI=

# Backend
API_BASE_URL=
DYNAMO_TABLE_MEMENTO=

# Local dev
LOCALSTACK_ENDPOINT=
